.header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 7px rgba(20, 22, 24, 0.5);
  @include laptop {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__nav {
    @include tablet {
      margin-left: 70px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__nav-list {
    display: none;
    @include tablet {
      display: flex;
      gap: 30px;
    }
    @include laptop {
      gap: 40px;
    }
  }
  &__nav-item:nth-child(n + 4) {
    display: none;
    @include laptop {
      display: block;
    }
  }
  &__nav-link {
    @include font($fw: 500, $fs: 16, $lh: 20);
    color: var(--white-text-color);
    transition: color var(--duration) var(--cubic);

    html.light &:hover,
    html.light &:focus {
      color: var(--light-accent-color);
    }

    html.dark &:hover,
    html.dark &:focus {
      color: var(--dark-accent-color);
    }

    @include desktop {
      @include font($fw: 500, $fs: 20, $lh: 30);
    }
  }
}

.theme-switch {
  display: none;
  @include laptop {
    position: absolute;
    top: -10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
}
.theme-switch__color {
  @include font($fw: 300, $fs: 14, $lh: 21);
  color: var(--white-text-color);
}

html.light .theme-switch__color--light {
  font-weight: 700;
  color: var(--light-accent-color);
}

html.dark .theme-switch__color--dark {
  font-weight: 700;
  color: var(--dark-accent-color);
}

.theme-switch__btn {
  width: 36px;
  height: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
}
html.light .theme-switch__btn {
  background-image: url(../images/themeL.svg);
}

html.dark .theme-switch__btn {
  background-image: url(../images/themeD.svg);
}

.theme-switch__auto {
  display: none;
  position: absolute;
  top: 0px;
  right: 140px;
  background: transparent;
  border: none;
  color: var(--white-text-color);
}

.active {
  display: block;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../images/mob-menu-bg.png), rgba(0, 0, 0, 0.9);
  > .container {
    height: 100%;
  }
  &__button-open,
  &__close-btn {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    @include laptop {
      display: none;
    }
  }
  &__close-btn {
    margin-left: auto;
    margin-top: 10px;
  }
  &__button-icon {
    display: block;
    width: 18px;
    height: 12px;
    transition: fill var(--duration) var(--cubic);
    @include tablet {
      width: 24px;
      height: 20px;
    }
    @include laptop {
      display: none;
    }
  }

  html.light &__button-icon {
    fill: var(--light-accent-color);
    &:hover,
    &:focus {
      fill: var(--light-accent-hover-color);
    }
  }

  html.dark &__button-icon {
    fill: var(--dark-accent-color);
    &:hover,
    &:focus {
      fill: var(--dark-accent-hover-color);
    }
  }

  &__nav {
    margin-top: 34px;
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__nav-item {
    background: rgba(19, 19, 19, 0.5);
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    gap: 15px;
  }
  &__nav-item:nth-child(-n + 3) {
    @include tablet {
      display: none;
    }
  }
  &__nav-icon {
    transition: fill var(--duration) var(--cubic);
  }

  html.light &__nav-icon {
    fill: var(--light-accent-color);
    &:hover,
    &:focus {
      fill: var(--light-accent-hover-color);
    }
  }

  html.dark &__nav-icon {
    fill: var(--dark-accent-color);
    &:hover,
    &:focus {
      fill: var(--dark-accent-hover-color);
    }
  }

  &__nav-link {
    @include font($fw: 500, $fs: 16, $lh: 24);
    color: var(--white-text-color);
  }
  &__address-wrapper {
    margin-top: 30px;
    background: rgba(19, 19, 19, 0.5);
    padding: 30px;
  }
  &__works-hour-wrapper {
    display: flex;
    gap: 5px;
  }
  &__works-hour {
    @include font($fw: 500, $fs: 14, $lh: 21);
    color: var(--white-text-color);
  }
  &__address-list {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
  }
  &__address-link {
    @include font($fw: 500, $fs: 14, $lh: 21);
    color: var(--white-text-color);
  }
  &__theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
}
