:root {
  --black-text-color: #000000;
  --white-text-color: #fffbf8;
  --dark-text-color: #2e2e2e;
  --light-accent-color: #00a3ff;
  --light-accent-hover-color: #0b78b6;
  --dark-accent-color: #ffc700;
  --dark-accent-hover-color: #fda700;

  --text-shadow: 1px 1px 4px #151719;

  --lightBGL: #fdfeff;
  --darkBG: #151719;

  --modal-overlay: rgba(0, 0, 0, 0.25);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;

  --gradient-hero-mob: linear-gradient(
    23.82deg,
    rgba(2, 26, 47, 0.5) 56.92%,
    rgba(0, 55, 102, 0) 145.73%
  );
  --gradient-hero-tab: linear-gradient(
    72.44deg,
    rgba(0, 31, 49, 0.63) 56.63%,
    rgba(255, 255, 255, 0) 100%
  );
  --gradient-hero-pc: linear-gradient(
    72.44deg,
    rgba(0, 31, 49, 0.57) 56.63%,
    rgba(255, 255, 255, 0) 100%
  );
  --gradient-contacts: linear-gradient(
    0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
