<section class="about section" id="about">
  <div class="container">
    <div class="title about__title">
      <div class="title__line"></div>
      <div class="title__wr">
        <h2 class="title__text">
          About
          <span class="title__span">House</span>
          <span class="title__after-span">Residential complex</span>
        </h2>
      </div>
      <div class="title__line"></div>
    </div>

    <div class="about__content">
      <div class="about__text-content">
        <h3 class="section-title about__section-title">
          The best house for living
        </h3>
        <div class="section-title__line"></div>
        <p class="about__text about__text--first">
          The new building consists of 12 residential and one commercial floor.
          Everything in the house is thought out to the smallest detail, from
          the built-in AKVANTIS water purification system to the evening
          illumination of the facades.
        </p>
        <p class="about__text">
          On the ground floor there is a shop, a pharmacy, a coffee shop. and
          other service companies. Therefore, the solution of everyday issues
          will take less time, and you can devote it to more pleasant things.
          And the closed territory of the complex will give you the opportunity
          to feel confident.
        </p>
      </div>

      <div class="img-wr--about about__img">
        <picture>
          <source
            srcset="./images/about-1-mob.jpg 1x, ./images/about-1-mob-2x.jpg 2x"
            media="(max-width: 767px)"
          >
          <source
            srcset="./images/about-1-tab.jpg 1x, ./images/about-1-tab-2x.jpg 2x"
            media="(max-width: 1199px)"
          >
          <source
            srcset="./images/about-1.jpg 1x, ./images/about-1-2x.jpg 2x"
            media="(min-width: 1200px)"
          >
          <img
            class="img"
            src="./images/about-1-mob.jpg"
            loading="lazy"
            alt="house"
            width="792"
            height="528"
          >
        </picture>
      </div>
    </div>
  </div>
</section>
