<section class="advantage section" id="advantage">
  <div class="container">
    <div class="advantage__content">
      <div class="advantage__section-title-wr">
        <h3 class="section-title advantage__section-title">Advantage</h3>
        <div class="section-title__line section-title__line--reverse"></div>
      </div>
      <div class="img-wr--advantage advantage__img">
        <picture class="img">
          <source
            srcset="./images/about-2-mob.jpg 1x, ./images/about-2-mob-2x.jpg 2x"
            media="(max-width: 767px)"
          >
          <source
            srcset="./images/about-2-tab.jpg 1x, ./images/about-2-tab-2x.jpg 2x"
            media="(max-width: 1199px)"
          >
          <source
            srcset="./images/about-2.jpg 1x, ./images/about-2-2x.jpg 2x"
            media="(min-width: 1200px)"
          >
          <img
            class="img"
            src="./images/about-2-mob.jpg"
            alt="house"
            width="792"
            loading="lazy"
            height="528"
          >
        </picture>
      </div>
      <div class="advantage__text-content">
        <div class="advantage__section-title-wr--desktop">
          <h3 class="section-title advantage__section-title">Advantage</h3>
          <div class="section-title__line section-title__line--reverse"></div>
        </div>
        <ul class="advantage__list list">
          <li class="advantage__item">
            <p class="advantage__title">Modern living space</p>
            <p class="advantage__text">
              The area is designed taking into account the latest loft style
              trends
            </p>
          </li>
          <li class="advantage__item">
            <p class="advantage__title">Inovative technologies</p>
            <p class="advantage__text">
              <span>House </span>can boast of the best architectural solutions,
              modern energy-saving technologies and detailed planning of
              apartments
            </p>
          </li>
          <li class="advantage__item">
            <p class="advantage__title">High level of security</p>
            <p class="advantage__text">
              Residential area with an implemented access control system, video
              surveillance and 24-hour security service.
            </p>
          </li>
          <li class="advantage__item">
            <p class="advantage__title">The yard is free from cars</p>
            <p class="advantage__text">
              Thanks to underground parking, the problem with the number of cars
              in your yard will be solved.
            </p>
          </li>
          <li class="advantage__item">
            <p class="advantage__title">Sports and health</p>
            <p class="advantage__text">
              The presence of a multifunctional sports ground, a modern
              children's playground, a sports club and high-quality bicycle
              construction.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
