<footer class="footer">
    <div class="container footer__container">
      <div class="footer__logo-wr">
        <a href="#" class="logo footer__logo link"
          ><span class="logo__span footer__logo-span">House</span>Residential complex</a>
        <p class="footer__years">&#169;2022-2023</p>
      </div>
      <nav class="footer__nav">
        <a href="#" class="footer__nav-item link">Apartment layout</a>
        <a href="#" class="footer__nav-item link">Turboti service 24/7</a>
        <button class="footer__button button">
          English
          <svg class="footer__button-icon" width="16" height="15">
            <use href="./images/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </nav>
    
    </div>
</footer>