<section class="hero">
  <div class="hero__content container">
    <h1 class="hero__title">
      <span class="hero__pre-title-span">House</span>Residential complex
    </h1>
    <p class="hero__after-title">bright space for a comfortable life</p>
    <ul class="hero__advantages-list list">
      <li class="hero__advantages-item">
        <svg class="hero__advantages-icon" width="13" height="13">
          <use href="./images/sprite.svg#icon-chek"></use>
        </svg>
        <p class="hero__advantages-text">Apartments from 45 to 96 m²</p>
      </li>
      <li class="hero__advantages-item">
        <svg class="hero__advantages-icon" width="13" height="13">
          <use href="./images/sprite.svg#icon-chek"></use>
        </svg>
        <p class="hero__advantages-text">
          Installment plan with a down payment of $700
        </p>
      </li>
      <li class="hero__advantages-item">
        <svg class="hero__advantages-icon" width="13" height="13">
          <use href="./images/sprite.svg#icon-chek"></use>
        </svg>
        <p class="hero__advantages-text">87% of construction work completed</p>
      </li>
    </ul>

    <div class="hero__button-wrapper">
      <button class="hero__button button button--color">
        Choose an apartment
      </button>
      <button class="hero__button button button--transparent">
        Find out the cost
      </button>
    </div>

    <div class="hero__address-wrapper">
      <address class="hero__address">
        <ul class="hero__address-list list">
          <li class="hero__address-item">
            <svg class="hero__address-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-clock"></use>
            </svg>
            <p class="hero__works-hour">
              Mon-Fri: 10:00-16:00 | Sat-Nd: Weekend
            </p>
          </li>
          <li class="hero__address-item">
            <svg class="hero__address-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon_phone-call-fill"></use>
            </svg>
            <a class="hero__address-link link" href="tel:+123456789"
              >+1 234 56 789</a
            >
          </li>
          <li class="hero__address-item">
            <svg class="hero__address-icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            <a
              class="hero__address-link link"
              href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Laurelton Queens, New York</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="hero__soc animate__animated animate__fadeInUp">
      <ul class="hero__soc-list list">
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link link">
            <svg class="hero__soc-icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-instagram-logo-fill"></use>
            </svg>
          </a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link link">
            <svg class="hero__soc-icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero__soc-item">
          <a href="" class="hero__soc-link link">
            <svg class="hero__soc-icon" width="40" height="40">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
