<section class="location section" id="location">
  <div class="container">
    <div class="location__content">
      <div class="location__section-title-wr">
        <h3 class="section-title location__section-title">Location</h3>
        <div class="section-title__line section-title__line--location"></div>
        <p class="location__after-title">
          The <span>House residential complex </span>is located in
          <b>New York, </b>close to the <b>Lower Bay and the city center</b>
        </p>
      </div>
      <div class="img-wr--location location__img">
        <picture>
          <source
            srcset="./images/about-3-mob.jpg 1x, ./images/about-3-mob-2x.jpg 2x"
            media="(max-width: 767px)"
          >
          <source
            srcset="./images/about-3-tab.jpg 1x, ./images/about-3-tab-2x.jpg 2x"
            media="(max-width: 1199px)"
          >
          <source
            srcset="./images/about-3.jpg 1x, ./images/about-3-2x.jpg 2x"
            media="(min-width: 1200px)"
          >
          <img
            class="img"
            src="./images/about-3-mob.jpg"
            alt="house"
            loading="lazy"
            width="792"
            height="528"
          >
        </picture>
      </div>
      <div class="location__text-content">
        <div class="location__section-title-wr--desktop">
          <h3 class="section-title">Location</h3>
          <div class="section-title__line section-title__line--location"></div>
          <p class="location__after-title">
            The <span>House residential complex </span>is located in
            <b>New York, </b>close to the <b>Lower Bay and the city center</b>
          </p>
        </div>

        <ul class="location__advantage-list list">
          <li class="location__advantage-item">
            <svg class="location__advantage-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-location-clock"></use>
            </svg>
            <p class="location__advantage-text">
              <b>10 minutes</b> to Lower Bay.
            </p>
          </li>
          <li class="location__advantage-item">
            <svg class="location__advantage-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-location-three"></use>
            </svg>
            <p class="location__advantage-text">Park areas are nearby.</p>
          </li>
          <li class="location__advantage-item">
            <svg class="location__advantage-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-location-build"></use>
            </svg>
            <p class="location__advantage-text">
              A school and a kindergarten are nearby.
            </p>
          </li>
          <li class="location__advantage-item">
            <svg class="location__advantage-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-location-bus"></use>
            </svg>
            <p class="location__advantage-text">
              Very comfortable transport junction.
            </p>
          </li>
          <li class="location__advantage-item">
            <svg class="location__advantage-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-location-stores"></use>
            </svg>
            <p class="location__advantage-text">Grocery stores.</p>
          </li>
        </ul>
        <b class="location__text">And much more for your entertainment</b>
      </div>
    </div>
  </div>
</section>
