<section class="our-contacts">
    <div class="container our-contacts__container">
        <div class="our-contacts__contact-wr">
            <h2 class="our-contacts__title">Our contacts</h2>
            <address class="our-contacts__address">
                <ul class="our-contacts__address-list list">
                    <li class="our-contacts__address-item">
                        <p class="our-contacts__address-text">Technical department number:</p>
                        <a class="our-contacts__address-link link" href="tel:+123456789">+1 234 56 789</a>
                    </li>
                    <li class="our-contacts__address-item">
                        <p class="our-contacts__address-text">E-mail:</p>
                        <a class="our-contacts__address-link link" href="mailto:info@com.ua">info@com.ua</a>
                    </li>
                    <li class="our-contacts__address-item">
                        <p class="our-contacts__address-text">Schedule: <span class="our-contacts__address-schedule">From 10:00 to 16:00</span></p>
                    </li>
                    <li class="our-contacts__address-item">
                        <p class="our-contacts__address-text">Address
                            :</p>
                        <a
                            class="our-contacts__address-link link"
                            href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
                            target="_blank"
                            rel="noopener noreferrer nofollow"
                            >Laurelton Queens, New York</a>
                    </li>
                </ul>
            </address>
            <ul class="our-contacts__soc-list list">
                <li class="our-contacts__soc-item">
                  <a href="" class="our-contacts__soc-link link">
                    <svg class="our-contacts__soc-icon" width="25" height="25">
                      <use href="./images/sprite.svg#icon-contact-telegram"></use>
                    </svg>
                  </a>
                </li>
                <li class="our-contacts__soc-item">
                  <a href="" class="our-contacts__soc-link link">
                    <svg class="our-contacts__soc-icon" width="25" height="25">
                      <use href="./images/sprite.svg#icon-contact_instagram"></use>
                    </svg>
                  </a>
                </li>
                <li class="our-contacts__soc-item">
                  <a href="" class="our-contacts__soc-link link">
                    <svg class="our-contacts__soc-icon" width="25" height="25">
                      <use href="./images/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
              </ul>
        </div>

        <div class="our-contacts__form-wr">
            <p class="our-contacts__form-title">Ask us your question and we will call 
                you back within a minute</p>
            <form class="our-contacts__form">
                <div class="our-contacts__form-wrap">
                    <input type="text" name="name" id="form-name" placeholder="Name"  class="our-contacts__input" required>
                </div>
                <div class="our-contacts__form-wrap">
                    <input type="tel" name="phone" id="form-phone" placeholder="+1 234 56 789" class="our-contacts__input our-contacts__input--phone" required>
                    <img src="./images/input-flag.svg" loading="lazy" alt="flag" width="12" height="8" class="our-contacts__form-icon">
                </div>
                <div class="our-contacts__form-wrap">
                    <textarea name="comment" id="form-comment" placeholder="Ask your question" class="our-contacts__comment" ></textarea>
                </div>
                <div class="our-contacts__checkbox">
                    <input type="checkbox" 
                    id="checkbox-input" 
                    class="our-contacts__checkbox-input visually-hidden" required>
                    <label for="checkbox-input" 
                        class="our-contacts__checkbox-label">
                        <span class="checkbox-span">
                            <svg class="our-contacts__check-icon" width="16" height="15">
                                <use href="./images/sprite.svg#icon-check-box-hover"></use>
                              </svg>
                        </span> 
                        By clicking the button you agree to the terms of privacy&nbsp;
                            <a href="#" target="_blank" rel="noopener noreferrer nofollow" 
                            class="our-contacts__check-link link">&nbsp;Privacy Policy
                            </a>
                    </label>
                </div>

                <button type="submit" class="our-contacts__button button">Send a request</button>
            </form>
        </div>
    </div>
</section>