.under-lines {
  display: flex;
  column-gap: 30%;
  row-gap: 10px;
  flex-wrap: wrap;
  @include tablet {
    row-gap: 20px;
    column-gap: 3%;
  }
  @include desktop {
    row-gap: 30px;
  }
  &__item {
    width: 45%;
    height: 2px;
  }

  html.light &__item {
    background-color: var(--light-accent-color);
  }

  html.dark &__item {
    background-color: var(--dark-accent-color);
  }

  &__item:nth-child(even) {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__item:first-child {
    margin-left: 7%;
  }
  &__item:last-child {
    margin-right: 7%;
  }
}
